
<div class="order-summary jumbotron">

<h1>Welcome Admin!</h1>

<h2>-- Status Report -- </h2>

<h2>Current Count of Products : <%= @products_count %><h2>

<h2>Current Count of Categories : <%= @categories_count %>

</div>


